<%= title pl(:poem) %>

<div id="top_links">
  <%= link_to new(:poem), new_poem_path if can? :new, Poem %>
</div>

<%= render 'poemtables', poemgroups:@poemgroups unless @poemgroups.empty? %>

<div id="bottom_links">
  <%= link_to new(:poem), new_poem_path if can? :new, Poem %>
</div>
