<table>
<% @verses.each do |verse| %>
  <tr>
    <td><%= verse.content %></td>
    <td><%= link_to "▲", descend_poem_verse_path(@poem,verse), :method => :put unless @verses.first == verse %></td>
    <td><%= link_to "▼", ascend_poem_verse_path(@poem,verse), :method => :put unless @verses.last == verse %></td>
  </tr>
<% end %>
</table>
