<div class="word">
  <div id="word">
    <%= link_to word.name, edit_word_path(word) %>
  </div>
  <div id="definitions">
    <% word.definitions.each_with_index do |definition,i| %>
      <%= render definition, i:i+1 %>
    <% end %>
  </div>
</div>
<div class="clear"></div>
