<%= title pl(:word) %>

<div id="top_links">
  <%= link_to new(:word), new_word_path if can? :new, Word %>
</div>

<div id="words">
  <%= render @words %>
</div>

<div id="bottom_links">
  <%= link_to new(:word), new_word_path if can? :new, Word %>
</div>
