html
  a
    text-decoration: none
  font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif

form
  li
    label
      display: block
    textarea
      width: 500px
      height: 200px
    p.inline-errors
      margin: 0
      color: red
      font-style: italic
  input
    margin-top: 10px

table
  border: 1px solid black
  tr
    text-align: right

