<div class="category">
  <div id="name">
    <%= link_to category.name(get_language), category if can? :show, category %>
  </div>
  <div id="actions">
    <%= link_to jt(:edit), id:category.id if can? :edit, category %>
    <%= link_to jt(:del), category, :method => :delete, confirm:sure? if can? :destroy, category %>
  </div>
</div>
